# Server & API
fastapi
uvicorn

# AI & Multi-Agent Orchestration
crewai

# Data Ingestion & Utilities
edgartools
tenacity
python-dotenv
pydantic

pinecone

beautifulsoup4
markdownify
sec-edgar-downloader
pinecone-client
llama-index-core
llama-index-vector-stores-pinecone
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-llms-openai-like
unstructured[html]